<div class="mask" v-bind:style="{display:showModal?'block':'none'}">
</div>
<div class="wrapper" v-bind:style="{display:showModal?'block':'none'}">
    <div class="closeBtn" @click="close()"></div>
    <div class="container" id="loginContainer">
        <form>
            <div class="divform">
                <h1>{{word}}</h1>
                <input type="text" v-model="username" placeholder="{{name}}">
                <input type="password" v-model="password" placeholder="{{pwd}}">
                <button id="login-button" @click="login">{{btname}}</button>
            </div>
        </form>
    </div>
    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>