<aside class="editor-ads" id="rightParts">
    <div class="titleName">纹理选择器</div>
    <!-- Split button -->
    <div class="textCont">
        <div class="btn-group selectBtn">
            <button id="showTexture" type="button" class="btn btn-danger" v-on:click="showDropBox('texture')" style="width: 135px">{{textureText}}</button>
            <button type="button" class="btn btn-danger dropdown-toggle" v-on:click="showDropBox('texture')">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul id="textureValue" class="dropdown-menu" v-bind:style="{display:tabName=='texture' ?'block':'none'}">
                <li v-for="item in textureItems" v-on:click="textureClick(item.type)"><a href="javascript:void(0);">{{item.name}}</a></li>
            </ul>
        </div>
    </div>

    <div class="titleName">粒子选择器</div>
    <div class="textCont">
        <div class="btn-group selectBtn">
            <button type="button" class="btn btn-danger" style="width: 135px" v-on:click="showDropBox('particle')">{{particleText}}</button>
            <button type="button" class="btn btn-danger dropdown-toggle" v-on:click="showDropBox('particle')">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul id="particleValue" class="dropdown-menu" v-bind:style="{display:tabName=='particle' ?'block':'none'}">
                <li v-for="item in particleItems" v-on:click="particleClick(item.type)"><a href="javascript:void(0);">{{item.name}}</a></li>
            </ul>
        </div>
    </div>
    <div class="titleName">burning word</div>
    <input id="burningInput" class="burningInput" type="text" placeholder="Type something burning…" v-model="newWord" @input="inputText()" @blur="inputText()">
    <div class="titleName">选择图形</div>
    <div class="shapeWrap" style="display:block;">
        <div id="squareShape" class="square shape" shapeType="square"></div>
        <div id="circleShape" class="circle shape" shapeType="circle"></div>
    </div>
</aside>