<div class="editor-nav" id="editorController">
    <div id="myTab" class="nav">
        <div class="btn-group">
            <button class="btn1 btn-physics" v-on:click="showTab('physics')">物理参数</button>
        </div>
        <div class="btn-group">
            <button class="btn1 btn-appear" v-on:click="showTab('appearance')">外观参数</button>
        </div>
        <div class="btn-group">
            <button class="btn1 btn-track" v-on:click="showTab('track')">轨迹参数</button>
        </div>
    </div>
    <div id="myTabContent" class="tab-content">
        <!-- 物理参数设置 -->
        <div id="physics" class="tabClass tabBg1 flip in"
             v-bind:style="{display:tabName == 'physics' ? 'block' : 'none'}">
            <div class="argSet">
                <span class="text">重力控制：</span> <span class="nameShow">x方向速度</span><span class="valueShow">{{velocityX}}</span><span class="nameShow">Y方向速度</span><span class="valueShow">{{velocityY}}</span>
                <div id="gravityControl" class="gravityControl">
                </div>
            </div>
            <div class="velocityCvs">
                <span class="text">速度记录仪</span>

                <div class="recorder" id="velocityRecorder">
                </div>
            </div>
            <div id="ctrlBtn">
                <button id="playBtn" class="startBtn start" v-on:click="controlBtn('start')">开始</button>
                <button id="stopBtn" class="stopBtn end" v-on:click="controlBtn('finish')">结束</button>
                <button id="fireBtn" class="fireBtn end" v-on:click="controlBtn('fire')">fire</button>
                <button id="createBtn" class="createBtn end" v-on:click="controlBtn('create')">创建画布</button>
            </div>
        </div>
        <!-- 外观参数设置-->
        <div class="tabClass tabBg2 flip" id="appearance"
             v-bind:style="{display:tabName == 'appearance' ? 'block' : 'none'}">
            <div style="width:100%;height: 740px;border: 1px solid ">
                <ul style="height:auto;position: relative;">
                    <li>
                        <div>
                            <span class="property-name">maxParticles</span>
                            <div class="controller">
                                <div class="physicalSlider"><input type="range" min='0' max="5000" step="50"
                                                                   value="2000" v-model="maxParticles"/></div>
                                <div class="textShow">{{maxParticles}}</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <span class="property-name">size</span>

                            <div class="controller">
                                <div class="physicalSlider"><input type="range" min='0' max="10" step="0.1"
                                                                   value="2" v-model="particleSize"/></div>
                                <div class="textShow">{{particleSize}}</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <span class="property-name">点击效果</span>

                            <div class="controller">
                                <select>
                                    <option value="repel">repel</option>
                                    <option value="attract">attract</option>
                                </select>
                            </div>
                        </div>
                    </li>
                    <li>
                        <span class="addBtn">发射器</span>
                        <div @click="addObjectAtCanvas('emitter')" class="launch"></div>
                    </li>
                    <li>
                        <span class="addBtn">障碍</span>
                        <div @click="addObjectAtCanvas('field')" class="obstacle"></div>
                    </li>
                </ul>
                <div class="csm-tab-con">
                    <div style="margin-left:6px;">particle Color</div>
                    <div class="m-color m-color-txt" data-elem-colortab="bgcolor">
                        <div class="m-color-colors">
                            <v-color-picker
                                    :colors="color"
                                    :update-color="updateBackground">
                            </v-color-picker>
                        </div>
                    </div>
                </div>
                <div class="edit-tab-con">
                    <div style="margin-left:6px;color: #F2753F;font-weight: 700;font-size: 18px;">{{editorName}}</div>
                    <div style="margin-top: 15px;" v-bind:style="{display:editorName == 'fieldEditor' ? 'block' : 'none'}">
                        <!--<span>positionX</span><div></div>-->
                        <!--<span>positionY</span><div></div>-->
                        <div style="display: inline-block;float: left"><span class="spanName">mass</span></div>
                        <div class="physicalSlider" style="margin-left: 25px;"><input type="range" min='-300' max="300" step="1" value="2" v-model="mass"/></div>
                        <div class="massShow">{{mass}}</div>
                    </div>
                    <div style="margin-top: 15px;" v-bind:style="{display:editorName == 'emitterEditor' ? 'block' : 'none'}">
                        <!--<span>positionX</span><div></div>-->
                        <!--<span>positionY</span><div></div>-->
                        <!--<span>velocity</span><div></div>-->
                        <!--<span>size</span><div></div>-->

                        <div class="itemWrap"><span class="spanName">particleLife</span><input style="margin-left: 26px;" class="inputName" type="text" v-model="particleLife"/></div>
                        <div class="itemWrap"><span class="spanName">spread</span><input style="margin-left: 54px;" class="inputName" type="text" v-model="spread"/></div>
                        <div class="itemWrap"></div><span class="spanName">emissionRate</span><input class="inputName" type="text" v-model="emissionRate"/></div>
                    </div>
                </div>
            </div>

        </div>
        <!-- 轨迹参数设置 -->
        <div class="tabClass tabBg3 flip" id="track" v-bind:style="{display:tabName == 'track' ? 'block' : 'none'}">
            <div style="width:100%;height: 740px;border: 1px solid ">
                我是轨迹参数设置
            </div>
        </div>
        <div class="closeControl" id="controlsHandler">收起控制</div>
    </div>
</div>