<div class="editor-nav" id="editorController">
    <div id="myTab" class="nav">
        <div class="btn-group" ><button class="btn1 btn-physics" v-on:click="showTab('physics')">物理参数</button></div>
        <div class="btn-group" ><button class="btn1 btn-appear" v-on:click="showTab('appearance')">外观参数</button></div>
        <div class="btn-group" ><button class="btn1 btn-track" v-on:click="showTab('track')">轨迹参数</button></div>
    </div>
    <div id="myTabContent" class="tab-content">
        <!-- 物理参数设置 -->
        <div id="physics" class="tabClass tabBg1 flip in" v-bind:style="{display:tabName == 'physics' ? 'block' : 'none'}">
            <div class="argSet">
                <span class="text">重力控制：</span> <span id="gravityValue" class="valueShow">50</span>
                <div id="gravityControl" class="gravityControl">
                </div>
            </div>
            <div class="velocityCvs">
                <span class="text">速度记录仪</span>
                <div class="recorder" id="velocityRecorder">
                </div>
            </div>
            <div id="ctrlBtn">
                <button id="playBtn" class="startBtn start" v-on:click="controlBtn('start')">开始</button>
                <button id="stopBtn" class="stopBtn end" v-on:click="controlBtn('finish')">结束</button>
                <button id="fireBtn" class="fireBtn end" v-on:click="controlBtn('fire')">fire</button>
                <button id="createBtn" class="createBtn end" v-on:click="controlBtn('create')">创建画布</button>
            </div>
        </div>
        <!-- 外观参数设置-->
        <div class="tabClass tabBg2 flip" id="appearance"  v-bind:style="{display:tabName == 'appearance' ? 'block' : 'none'}">
            <div style="width:100%;height: 740px;border: 1px solid ">
                <ul style="height:auto;">
                    <li>
                        <div>
                            <span class="property-name">maxParticles</span>
                            <div class="controller">
                                <div class="physicalSlider"><input type="range" min='0' max="5000" step="50" value="10"/></div>
                                <div class="textShow">1000</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <span class="property-name">size</span>
                            <div class="controller">
                                <div class="physicalSlider"><input type="range" min='0' max="5000" step="50" value="10"/></div>
                                <div class="textShow">10</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <span class="property-name">clearBehavior</span>
                            <div class="controller">
                                <select><option value="repel">repel</option><option value="attract">attract</option></select>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>add emitter</div>
                    </li>
                    <li>
                        <div>add field</div>
                    </li>
                    <li>
                        <div>
                            <span class="property-name">example</span>
                            <div class="controller">
                                <select>
                                    <option value="0,Basic,255|149|0|.5,2:Sv1(2000|1|0|0|1|E360,230:2,0:15:-1:0.10:4|F700,230:-140:8)">example1</option>
                                    <option value="0,Basic:Sv1(2000|1|0|0|1|E388,158:2,0:15:-1:0.10:4|F497,233:500|F442,240:-37)">example2b</option>
                                    <option value="0,Variable:Sv1(5000|1|0|0|1|E388,158:2,0:15:-1:0.10:4|F443,211:500)">example2a</option>
                                    <option value="0,Basic:Sv1(2000|0|0|0|1|E500,275:1.3,-0:15:-1:3.14:4|F650,275:-250|F350,275:-250|F500,125:-250|F500,425:-250|F606,381:-250|F606,169:-250|F397,381:-250|F397,169:-250)">example3a</option>
                                    <option value="0,Basic:Sv1(2000|1|0|0|1|E500,250:4,0:15:-1:3.14:4|F500,250:80)">example3b</option>
                                    <option value="0,Variable:Sv1(2000|1|0|0|1|E217,453:1.913,-0.585:15:-1:0.10:4|F337,472:-140|F533,327:500|F672,393:-140|F284,347:-140)">example4</option>
                                    <option value="1,Basic:Sv1(2000|0|1|0|0|E500,275:2,0:15:-1:3.14:4|F650,275:-140:8|F350,275:-140:8|F500,125:-140:8|F500,425:-140:8|F606,381:-140:8|F606,169:-140:8|F397,381:-140:8|F397,169:-140:8)">example5</option>
                                    <option value="0,Soft,255|149|0|.5,4:Sv1(5000|0|0|0|1|E502,277:0.005,-0.3:15:130:3.14:4|F650,275:-250:8|F350,275:-250:8|F500,425:-250:8|F606,381:-250:8|F606,169:-250:8|F397,381:-250:8|F397,169:-250:8)">bonus</option>
                                </select>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 轨迹参数设置 -->
        <div class="tabClass tabBg3 flip" id="track" v-bind:style="{display:tabName == 'track' ? 'block' : 'none'}">
            <div style="width:100%;height: 740px;border: 1px solid ">
                我是轨迹参数设置
            </div>
        </div>
        <div class="closeControl" id="controlsHandler">收起控制</div>
    </div>
</div>