<div class="editor-nav" id="editorController">
    <div id="myTab" class="nav">
        <div class="btn-group" ><button class="btn1 btn-physics" @click="showTab('physics')">物理参数</button></div>
        <div class="btn-group" ><button class="btn1 btn-appear" @click="showTab('appearance')">外观参数</button></div>
        <div class="btn-group" ><button class="btn1 btn-track" @click="showTab('track')">轨迹参数</button></div>
    </div>
    <div id="myTabContent" class="tab-content">
        <!-- 物理参数设置 -->
        <div id="physics" class="tabClass tabBg1 flip in" v-bind:style="[showTab == 'physics' ? styleObject : 'display:none']">
            <div class="argSet">
                <span class="text">重力控制：</span> <span id="gravityValue" class="valueShow">50</span>
                <div id="gravityControl" class="gravityControl">
                </div>
            </div>
            <div class="velocityCvs">
                <span class="text">速度记录仪</span>
                <div class="recorder" id="velocityRecorder">
                </div>
            </div>
            <div id="ctrlBtn">
                <button id="playBtn" class="startBtn start" v-on:click="controlBtn('start')">开始</button>
                <button id="stopBtn" class="stopBtn end" v-on:click="controlBtn('finish')">结束</button>
                <button id="fireBtn" class="fireBtn end" v-on:click="controlBtn('fire')">fire</button>
                <button id="createBtn" class="createBtn end" v-on:click="controlBtn('create')">创建画布</button>
                <button id="replayBtn" class="replayBtn start" v-on:click="controlBtn('replay')">回播</button>
            </div>
        </div>
        <!-- 外观参数设置-->
        <div class="tabClass tabBg2 flip" id="appearance"  v-bind:style="[showTab == 'appearance' ? styleObject : 'display:none']">
            <div style="width:100%;height: 740px;border: 1px solid ">
                我是外观参数设置
            </div>
        </div>
        <!-- 轨迹参数设置 -->
        <div class="tabClass tabBg3 flip" id="track" v-bind:style="[showTab == 'track' ? styleObject : 'display:none']">
            <div style="width:100%;height: 740px;border: 1px solid ">
                我是轨迹参数设置
            </div>
        </div>
        <div class="closeControl" id="controlsHandler">收起控制</div>
    </div>
</div>